{% extends "vPanelDBapp/base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
          <h3>Virtual Panel Builder v0.2</h3>
          <p>
               This database contains sequencing panels, the genes targetted by
               the panels and the associated <i>virtual</i> panels
          </p>
          <p>
               Information on how to use this page does not exist.
          </p>
          <p>
               If you have any issues, contact <a href="mailto:Callum.Rakhit@nhs.net">Callum Rakhit</a>
          </p>
         <p>
             <hr>
         </p>
    </div>
</div>

{% endblock %}

{% include 'blog/bootstrap_core.html' %}
