{% extends 'vPanelDBapp/base.html' %}

{% load addcss %}
{% load static %}

{% block content %}

{% if request.user|has_group:"superuser, usermax, usermin" %}
<!-- Only users in these permission groups can edit -->

    <h1>Subpanel Information</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name='update' class="save btn btn-default">Update</button>
        <!-- This allows you to update to include only genes from the relevant panel -->
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% else %}

    You are not authorised to add new panels

{% endif %}

{% endblock %}

{% include 'blog/bootstrap_core.html' %}