{% load staticfiles %}
{% comment " " %}
{% include 'blog/header.html' %}
{% endcomment %}

<html>
    <head>
        <title>Virtual Panel Builder v0.2</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<!--/.
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Dropdown Things<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><<a href="/home">Home</a></li>
                    <li><a href="/">Panels</a></li>
               </ul>
        </ul>
    </div>
    </div>
-->
    </nav>
    <body>
        <div class="page-header">
        <!--/.{% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}-->
        <h1><a href="/">Virtual Panel Builder</a></h1>
        </div>
        <div class="topnav" id="myTopnav">
            <a href="/home">Home</a>
            <a href="/">Panels</a>
            <a href="/post/new/">Add a New Panel</a>
            <a href="/genes">Genes</a>
            <a href="/">Virtual Panels</a>
            <a href="/post/new">Add a New Virtual Panel</a>
            <a href="/newpanel">Test</a>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>

{% include 'blog/bootstrap_core.html' %}
