
{% extends "blog/base.html" %}

{% block content %}
    <div class="container">

        <!-- Show this section only for User Blog view -->
        {% if first_name or last_name %}
            <div class="jumbotron">
                <h1>{{ first_name }} {{ last_name }} - Blog</h1>
            </div>
        {% endif %}

        <!-- Show List of Posts -->
{#        <div class="starter-template">#}
{#            {% for post in posts %}#}
{#                <div class="panel">#}
{#                    <div class="panel-heading">#}
{#                        <h1><a href="{% url 'blog:post' post.pk %}">{{ post.title }}</a></h1>#}
{#                        <div> Created {{ post.pub_date }} by <a#}
{#                                href="{% url 'blog:user_posts' post.user.username %}">{{ post.user.username }}</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <h3 class="panel-body"> {{ post.body }}</h3>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}

        <!-- Pagination -->
{#        <div class="pagination">#}
{#            {% if posts.has_previous %}#}
{#                <a href="?page=1">&laquo; first</a>#}
{#                <a href="?page={{ posts.previous_page_number }}">previous</a>#}
{#            {% endif %}#}
{##}
{#            {% if posts.paginator.num_pages != 1 %}#}
{#                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.#}
{#            {% endif %}#}
{##}
{#            {% if posts.has_next %}#}
{#                <a href="?page={{ posts.next_page_number }}">next</a>#}
{#                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>#}
{#            {% endif %}#}
{#        </div>#}

    <div>
            <div>
                <h1>Enter a single patient variant at a time</h1>
            </div>


            {#    change the below url to a sensible one#}
            <form action="/example_url/" method="post">
                <label for="name_field">Patient name</label>
                <input id="name_field" type="text" name="name_field" value=""><br><br>
        
                <label for="age_field">Patient age</label>
                <input id="age_field" type="text" name="age_field" value=""><br><br>
        
                <label for="is_proband">Is this patient the proband?</label><br>
                <input type="radio" id="true" name="is_proband" value="true">
                <label for="Yes">Yes</label><br>
                <input type="radio" id="false" name="is_proband" value="false">
                <label for="No">No</label><br><br>
        
                <label for="aff_relative">Does the patient have an affected relative?</label><br>
                <input type="radio" id="true" name="aff_relative" value="true">
                <label for="Yes">Yes</label><br>
                <input type="radio" id="false" name="aff_relative" value="false">
                <label for="No">No</label><br><br>
        
        
                <label for="stage_field">Stage</label>
                <input id="stage_field" type="text" name="stage_field" value=""><br><br>
        
                <label for="desc_field">Description</label>
                <input id="desc_field" type="text" name="desc_field" value=""><br><br>
        
                <label for="sequencer">Sequencer</label>
                <input id="sequencer" type="text" name="sequencer" value=""><br><br>
        
                <label for="cdna_field">Variant cDNA</label>
                <input id="cdna_field" type="text" name="cdna_field" value=""><br><br>
        
                <label for="protein_field">Variant Protein</label>
                <input id="protein_field" type="text" name="protein_field" value=""><br><br>
        
                <label for="var_genome_field">Variant Genome</label>
                <input id="var_genome_field" type="text" name="var_genome_field" value=""><br><br>
        
                <label for="pathogenicity_code">Pathogenicity Code</label>
                <input id="pathogenicity_code" type="text" name="pathogenicity_code" value=""><br><br>
        
                <label for="evidence">ACMG Evidence Codes</label>
                <input id="evidence" type="text" name="evidence" value=""><br><br>
        
                <input type="submit" value="OK"><br><br>
            </form>
                </div>
        
            <div>
                <div><h1>Or, batch-upload variants from a spreadsheet</h1></div>
                <form action="upload.php" method="post" enctype="multipart/form-data">
                <input type="file" name="uploaded_tsv" id="uploaded_tsv">
                <input type="submit" value="Upload a tab-delimited file" name="submit">
                </form>
            </div>
        
            </div>
        {% endblock content %}