{% extends "blog/base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
          <h3>Welcome to the Virtual Panel Builder</h3>
          <p>
               This database contains sequencing panels, the genes targetted by
               the panels and the associated <i>virtual</i> panels
          </p>
          <p>
               Detailed information on how to use this page and the critera for what is included can
               be found in the FAQ section.
          </p>
          <p>
               If you have any issues, contact <a href="mailto:Callum.Rakhit@nhs.net">Callum Rakhit</a>
          </p>
         <p>
             <hr>
         </p>
    </div>
</div>

{% endblock %}

{% include 'blog/bootstrap_core.html' %}
