{% load staticfiles %}

<div class="row">
    <div class="col-md-12">
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>Panel</th>
                    <th>Genes</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                    {% for detail in panel_detail %}
                <tr>
                    <td>
                        {{ detail.PanelName }}
                    </td>
                    <td width="30%">
                        {% for gene in gene_data %}
                            {% if gene.Panel.pk = detail.pk %}
                                <a href="{% url '' pk=gene.pk %}">{{ gene.GeneName }}</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td width="50%">
                        {{ detail.Notes }}
                    </td>
                </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'blog/bootstrap_core.html' %}
