{% load staticfiles %}

<div class="row">
    <div class="loginbox center-block ">
        <h3>Please sign in</h3>
        <br>
        <p><i>You will need to log in to view content on this website.</i></p>
        <br>
          <form class="form-signin" method="post">
              {% if next == "" %}
                <input type="hidden" name="next" value="/" />
              {% endif %}
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          </form>
     </div>
</div>

{% include 'bootstrap_core.html' %}
